.cards {
  padding-top: 80px;
  margin: 0 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards__item {
  width: 100%;
}

.cards__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  row-gap: 30px;
  column-gap: 24px;
  justify-content: center;
  justify-items: center;
  margin: 0;
  padding: 0 0 80px;
  flex-wrap: wrap;
}

.cards__list_saved {
  margin-bottom: 90px;
}

@media screen and (max-width: 1024px) {
  .cards__list {
    grid-template-columns: repeat(2, minmax(auto, 339px));
    row-gap: 36px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 840px) {
  .cards {
    margin: 0 30px;
  }
}

@media screen and (max-width: 620px) {
  .cards {
    padding-top: 52px;
  }

  .cards__list {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 16px;
  }
}

@media screen and (max-width: 470px) {
  .cards {
    margin: 0 10px;
  }
}