.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  margin: 0 70px;
  column-gap: 44px;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0 30px;
  }
}

@media screen and (max-width: 330px) {
  .header {
    margin: 0 14px;
  }
}