.navigation-project__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  column-gap: 10px;
}

.navigation-project__item {
  width: 96px;
  height: 28px;
  background-color: #303030;
  text-align: center;
  border-radius: 6px;
  padding-top: 8px;
}

.navigation-project__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-decoration: none;
  color: #FFFFFF;

  
  transition: opacity 0.2s linear;
}

.navigation-project__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 530px) {
  .navigation-project__list {
    column-gap: 6px;
  }

  .navigation-project__link {

    font-size: 10px;
    line-height: 1.6;
  }

  .navigation-project__item {
    width: 82px;
    height: 24px;
    padding-top: 2px;
  }
}